body {
    font-family: 'Inter', sans-serif;
}

/* Animação do Spinner de Loading */
.loader {
    border-top-color: #3B82F6;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.drag-active {
    border-color: #3B82F6 !important;
    background-color: #EFF6FF !important;
}
